server:
  port: 8080

spring:
  application:
    name: codefortress-demo-app
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update # Esto permitirá que tu JPA Adapter cree las tablas cf_users automáticamente
    show-sql: true

# CONFIGURACIÓN DE TU LIBRERÍA
codefortress:
  security:
    jwt-secret: "Q29kZUZvcnRyZXNzU2VjcmV0S2V5Rm9yRGVtb0FwcDIwMjVWZXJpZnkhIQ==" # Mínimo 256 bits
    routes:
      - pattern: "/api/public/**"
        roles: ["PUBLIC"]
      - pattern: "/api/private/**"
        roles: ["ADMIN"] # Solo ADMIN puede entrar aquí
  ui:
    enabled: true # Habilita endpoints de login/register
    login-path: "/auth"